@page "/painel-sample"
@using System.Threading

@inherits PainelPage


@{
    var time = State.LastValue.ServerTime;
    units = State.LastValue.AvailableUnits.ToList();
    patients = State.LastValue.PatientsWaitingList.ToList(); ;
    var error = State.Error;
}
<MudGrid>
    <MudItem xs="12" sm="4">
        <MudText Typo="Typo.h5" Class="pb-3">Server Time</MudText>

        <StatefulComponentState Component="@this" />

        @if (error != null)
        {
            <MudAlert Severity="Severity.Error">Update error: @error.Message</MudAlert>
            <p>@error.StackTrace</p>
        }

        <MudText Class="my-3">
            Server Time: @time
            <br />Refreshes every 5 seconds.
        </MudText>

        <MudButton Color="Color.Primary" Variant="Variant.Filled" IconClass="@Icons.Material.Outlined.Refresh"
                   OnClick="@Refresh">Refresh All State</MudButton>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudText Typo="Typo.h5" Class="pb-3">Control Panel</MudText>
        <MudText Typo="Typo.body1">Click to add fake Patient to Waiting list</MudText>

        <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Add"
                   OnClick="@AddToWaitingList">Add Patient to Waiting List</MudButton>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudText Typo="Typo.h5" Class="pb-3">Data</MudText>
        
        <div class="mb-1">
            <MudBadge Content="@(patients?.Count)" Color="Color.Primary" Overlap="true">
                <MudText Typo="Typo.body1">
                    Patients wainting
                </MudText>
            </MudBadge>
        </div>
        <div class="mb-1">
            <MudBadge Content="@(units?.SelectMany(c => c.HospitalBeds).Where(h => h.IsFree).Count())" Color="Color.Primary" Overlap="true">
                <MudText Typo="Typo.body1" Class="mb-1">
                    Total Free Hospital Beds
                </MudText>
            </MudBadge>
        </div>


    </MudItem>
</MudGrid>


<MudGrid Spacing="4" Style="margin-top: 10px;">
    <MudItem xs="12" sm="3">

        @if (patients?.Count() > 0)
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">
                            Patient waiting list
                        </MudText>
                        <MudSelect T="FilterByPatientOption" @bind-Value="@SelectedOrderBy" Label="Order By" Style="width: 50%;">
                            <MudSelectItem Value="FilterByPatientOption.AgeDescending"><MudText Typo="Typo.caption">Age <MudIcon FontClass="fas fa-sort-numeric-down-alt"></MudIcon></MudText></MudSelectItem>
                            <MudSelectItem Value="FilterByPatientOption.AgeAscending"><MudText Typo="Typo.caption">Age <MudIcon FontClass="fas fa-sort-numeric-down"></MudIcon></MudText></MudSelectItem>
                            <MudSelectItem Value="FilterByPatientOption.ArrivalDescending"><MudText Typo="Typo.caption">Arrival <MudIcon FontClass="fas fa-sort-numeric-down-alt"></MudIcon></MudText></MudSelectItem>
                            <MudSelectItem Value="FilterByPatientOption.ArrivalAscending"><MudText Typo="Typo.caption">Arrival <MudIcon FontClass="fas fa-sort-numeric-down"></MudIcon></MudText></MudSelectItem>
                        </MudSelect>
                    </CardHeaderContent>
                    <CardHeaderActions>

                    </CardHeaderActions>
                </MudCardHeader>

            </MudCard>
            <div style="overflow-y: scroll; max-height: 450px; margin-top: 8px">

                <Virtualize Context="p" Items="@FiltredPatientList" OverscanCount="5">
                    <div ondragover="event.preventDefault();"
                         ondragstart="event.dataTransfer.setData('', event.target.id);">
                        <MudCard draggable="true"
                                 Class="@(p.PatientId == DragPatient?.PatientId ? draggingCss : "")"
                                 @ondragstart="@(() => HandleDragStart(p))" @ondragend="@HandleDragEnd">

                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudAvatar Color="Color.Primary">@p.Name.Substring(0, 1).ToUpperInvariant()</MudAvatar>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">@p.Name,@(showGender(p.Gender))</MudText>
                                    <MudText Typo="Typo.body2">Age: @(formatAge(p.Age))</MudText>
                                    <MudText Typo="Typo.body2">Waiting for @(formatTimeInLine(p.TimeInLine))</MudText>

                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Default" OnClick="@(() => PutPatient(p))" />
                                </CardHeaderActions>
                            </MudCardHeader>



                        </MudCard>
                    </div>
                    <div style="margin-top:12px" />
                </Virtualize>
            </div>



        }
        else
            {
            <MudAlert Severity="Severity.Success">
                No Patients on waiting list!
            </MudAlert>
        }

    </MudItem>



    <MudItem xs="12" sm="3">
        @if (units.Count() > 0)
        {
            <MudText Typo="Typo.body2">
                Order by Number of free beds descending.
            </MudText>
            @foreach (var u in units){

           
                <MudCard Class="@(SelectedCareUnit?.CareUnitId == u.CareUnitId ? "selected-card" : "")">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@(u.FreeBeds == 0 ? Color.Error : Color.Success)">
                                <MudIcon FontClass="fas fa-hospital-alt"></MudIcon>
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@u.Name</MudText>
                        </CardHeaderContent>

                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">Free Beds: @u.FreeBeds.</MudText>
                        <MudText Typo="Typo.body2">Total Capacity: @u.Capacity.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="@(() => SelectUnit(u))">
                            @if (SelectedCareUnit?.CareUnitId == u.CareUnitId)
                            {
                                @("Unselect")
                            }
                            else
                {
                                @("select")
                            }
                        </MudButton>
                    </MudCardActions>
                </MudCard>
                <div style="margin-top: 12px"></div>
             }
        }
        else
            {

            <MudAlert Severity="Severity.Warning" Elevation="2">
                No units available
            </MudAlert>
        }

    </MudItem>

    <MudItem xs="12" sm="6">
        @if (SelectedCareUnit == null)
        {
            <MudAlert Severity="Severity.Warning" Elevation="2">
                No unit selected
            </MudAlert>
        }
        else
            {

            <MudGrid>
                <MudItem sm="12">
                    <MudPaper Class="pa-5">
                        <MudGrid>
                            <MudItem xs="12" sm="6">
                                <MudText Typo="Typo.h6">@SelectedCareUnit.Name</MudText>
                                <MudText Typo="Typo.body2" Class="my-1">
                                    Occupational Rate(%): 
                                </MudText>
                            @{ 
                                Func<double, string> gradientColor = r =>
                                {
                                    if (r <= 33)
                                        return "rate-green";
                                    if (r <= 66)
                                        return "rate-orange";
                                    
                                    return "rate-red";
                                };
                                var rate = SelectedCareUnit.OccupationRate;
                                var arrParts = rate.ToString().Split(',');

                                var intPart = arrParts[0] ?? "0";
                                string decPart = "00";
                                if (arrParts.Length == 2)
                                {
                                    decPart = arrParts[1];
                                }

                            }
                            <MudText Typo="Typo.h1" Class="@gradientColor(rate)">
                                @intPart,<MudElement HtmlTag="span"
                                            Class="ma-0"
                                            Style="font-size: 2rem;">@decPart</MudElement>%
                            </MudText>
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudChart ChartType="ChartType.Pie" InputData="@(new double[] { SelectedCareUnit.FreeBeds, SelectedCareUnit.Capacity - SelectedCareUnit.FreeBeds })" InputLabels="@labels" Width="100px" Height="100px" />

                            </MudItem>
                        </MudGrid>
                    </MudPaper>

                </MudItem>
                @{
                    var colCount = int.Parse(Math.Ceiling(SelectedCareUnit.HospitalBeds.Count() / 2.0).ToString());
                    var leftColumn = SelectedCareUnit.HospitalBeds.Take(colCount).ToList();
                    var righColumn = SelectedCareUnit.HospitalBeds.Skip(colCount).ToList();
                }

                <MudItem xs="12" sm="6">
                        @foreach (var bed in leftColumn)
                        {
                            @showBed(bed)                            
                        }
                </MudItem>

                <MudItem xs="12" sm="6">
                     @foreach (var bed in righColumn)
                        {
                            @showBed(bed)                            
                        }
                </MudItem>
            </MudGrid>

        }
    </MudItem>
</MudGrid>



@code {
  Stopwatch sp = new Stopwatch();

                protected RenderFragment showBed(HospitalBed bed)
                {
                    var patient = bed.Patient;
                    var isEmptyBed = patient == null;
                    var color = isEmptyBed ? Color.Success : Color.Error;


                    return (@<div ondragover="event.preventDefault()"
                      @ondrop="(async e => await HandleDrop(bed))">
        <MudCard Class="mb-3">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Size="Size.Small" Color="@color">
                        <MudIcon Icon="@Icons.Material.Outlined.RemoveCircle" />
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.caption">Code: @bed.HospitalBedId</MudText>
                    @if (isEmptyBed)
                    {
                        <MudText Typo="Typo.h4">Available!</MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.body2">@(patient.Name), @(formatAge(patient.Age)), @(showGender(patient.Gender))</MudText>
                        <MudText Typo="Typo.body2">In bed for @(formatTimeInLine(bed.OccupationDuration))</MudText>
                    }

                </CardHeaderContent>
                <CardHeaderActions>
                    @if (!isEmptyBed)
                    {
                        <MudTooltip Text="@($"Discharge {patient.Name}")" Placement="Placement.Top">
                            
                        <MudIconButton Icon="@Icons.Material.Outlined.RemoveCircle" Color="Color.Default" OnClick="(() => DischargePatient(patient, bed))" />
                        </MudTooltip>
                    }
                </CardHeaderActions>

            </MudCardHeader>
        </MudCard>
    </div>);
}


protected RenderFragment showGender(GenderType genderType)
{
  if (genderType == GenderType.Male)
  {
      return (@<MudIcon FontClass="fas fa-male" Size="Size.Small" />);
}
if (genderType == GenderType.Female)
{
return (@<MudIcon FontClass="fas fa-female" Size="Size.Small" />);
}
return (@<MudIcon FontClass="fas fa-question" />);
}

    protected override bool ShouldRender()
    {
        sp.Restart();
    return base.ShouldRender();
    }

    protected override void OnAfterRender(bool firstRender)
        {
            Console.WriteLine($"Rendered {sp.Elapsed.TotalMilliseconds:0.00} ms");
            base.OnAfterRender(firstRender);
        }


}
